<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
    <a href="#"><i class="fas fa-envelope fa-lg"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="navbar-wagon-brand">
    <%= image_tag 'nhh.png' %>
    <%= image_tag 'start.png' %>
    <br>
    Starthjelperen fra Start NHH <i class="fas fa-heart"></i>
      </div>
  </div>
</div>
