<div class="banner" style="background-image: url('https://static.pexels.com/photos/163444/sport-treadmill-tor-route-163444.jpeg');">
  <div class="banner-content">
    <h1>STARTSKUDDET</h1>
    <p style="color: #282F44">Vi hjelper deg over startstreken, og heier på deg til du er i mål</p>
  </div>
</div>

<div class="container">
   <div class="col-sm-6">
      <div class="text-center action-card yellow">
      <h3>Har du en ide?</h3>
      <i class="fas fa-lightbulb fa-10x"></i>
      <br>
      <br>
        <a class="btn btn-danger" href="https://mortenflling.typeform.com/to/PPSmUP">Send inn</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="text-center action-card yellow">
      <h3>Bli med i et team?</h3>
      <i class="fas fa-users fa-10x"></i>
      <br>
      <br>
      <a class='btn btn-danger' href="https://mortenflling.typeform.com/to/gJnmx9">Meld interesse</a>
      </div>
    </div>
  </div>
</div>
