.action-card {
  border: 1px solid #48afb8;
  padding: 30px 20px;
  margin: 50px 0px;
  height: 50vh;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  a {
    text-decoration: none;
  }
}
.text-center {
  text-align: center;
}

  .button {
    margin: 15px;
    text-align: center;

  }
