// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Quicksand', sans-serif;
}
content {
  min-height: calc(100vh - 70px);
}
h1 {
  font-family: 'Voltaire', sans-serif;
  color:  #282F44;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}
.container {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em 1em;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.yellow {
color: #E6AF2E;
background-color: #282F44;
}
.blue {
  color: #282F44;
background-color: #E6AF2E;
}
.banner-logo {
  width:50px;
  height: auto;
}

